
:root{
    --webte-color-blue: rgb(88, 69, 211);
}

body{
    margin: 0 auto;

}
.main-nav{
    background-color: var(--webte-color-blue);
    height: 10vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    list-style: none;
    list-style-type: none;
    
}
.main-nav li{
    margin-left: 10vw;
    border-radius: 0.2rem;
}   

.main-nav li:hover{
    background-color: orange;
}
.main-nav a{
    color: white;

}

@media screen and (max-width: 1200px){
    .main-nav{

    }
}

